/* main{
    display: flex;
} */
.card {
    width: 350px;
    border: 1px orange solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
}

.grid-div {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 350px);
}

@media (max-width: 1628px) and (min-width: 1208px) {
    .grid-div {
        grid-template-columns: repeat(2, 350px);
    }
}

@media (max-width: 1208px) {
    .grid-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
