.grid-div {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 350px);
}

@media (max-width: 1096px) and (min-width: 744px) {
    .grid-div {
        grid-template-columns: repeat(2, 350px);
    }
}

@media (max-width: 744px) {
    .grid-div {
        grid-template-columns: repeat(1, 350px);
    }
}
