header {
    height: 168.75px;
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px;
}

.dark header{
    border-color: red;
}

.light header {
    border-color: rgb(0, 183, 255);
}

.StarWarsLogo {
    width: 200px;
    height: 112.5px;
}
